.pokeStats-container{
  width: 100%;
}
.ProgressBar-container {
    margin: .5rem;
    display: grid;
    align-items: center;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nameStat PB_stat";
  }
  .nameStat { 
      grid-area: nameStat; }

  .ProgressBar { 
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      grid-area: PB_stat; }

@media (max-width: 800px){
  .ProgressBar-container {
    margin: .5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nameStat"
      "PB_stat";
  }

  .ProgressBar-container h3{
    font-size: 1rem;
  }

}