.buttonFloat{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    background: #480090;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border:none;
    cursor: pointer;
}

.buttonGroup{
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.previous{
    position: fixed;
    top: 50vh;
    left: 1rem;
}

.next{
    position: fixed;
    top: 50vh;
    right: 1rem;
}

@media (max-width: 800px){
    
.previous{
    position: relative;
    top: auto;
    left: auto;
}

.next{
    position: relative;
    right: auto;
    top: auto;
}
}


