@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html { 
  background-color: #1A0048;
  font-family: 'Saira', sans-serif;
}

*{
  margin: 0;
}

.error{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  color: white;
  opacity: .7;
}
::-webkit-scrollbar:horizontal{
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}



.icon{
  width: 35px;
  height: auto;
}